<% @dish.comments.each do |comment| %>
  <li id="comments-<%= comment.id %>">
    <span class="user"><%= link_to comment.user.name, comment.user %></span>
    <span class="content"><%= comment.body %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
    <span>
        <% if current_user?(comment.user) %>
          <%= link_to "delete", [ @dish , comment ] , method: :delete,
                                        data: { confirm: "You sure?" } %>
        <% end %>
      </span>
  </li>
<% end %>

<%= will_paginate comments %>
