<% provide(:title, 'Menu') %>
<h1>Menu</h1>

<div>
  <div>
  <h2>Appetizer</h2>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th></th>
      </tr>
      <% @dishes.each do |dish| %>
        <% if dish.category == "Appetizer" %>
        <tr>
          <th><a href="<%= dish_path(dish.id) %>"> <%= dish.name %></a></th>
          <th><%= dish.price %></th>
          <th><%= dish.description %></th>
          <th>
            <% if @dish.comments.any? %>
              <h3>comments (<%= @dish.comments.count %>)</h3>
            <% end %>
          </th>
        </tr>
        <br>
        <% end %>
      <% end %>
    </table>
  </div>
  </br>

  <div>
  <h2>Main</h2>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th></th>
      </tr>
      <% @dishes.each do |dish| %>
        <% if dish.category == "Main" %>
        <tr>
          <th><a href="<%= dish_path(dish.id) %>"> <%= dish.name %></a></th>
          <th><%= dish.price %></th>
          <th><%= dish.description %></th>
          <th>
          <%= dish.comments.count %>
          </th>
        <br>
        <% end %>
      <% end %>
    </table>
  </div>

  <div>
  <h2>Drinks</h2>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
      <% @dishes.each do |dish| %>
        <% if dish.category == "Drinks" %>
        <tr>
          <th><a href="<%= dish_path(dish.id) %>"> <%= dish.name %></a></th>
          <th><%= dish.price %></th>
          <th><%= dish.description %></th>
        <br>
        <% end %>
      <% end %>
    </table>
  </div>

  <div>
  <h2>Salad</h2>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
      <% @dishes.each do |dish| %>
        <% if dish.category == "Salad" %>
        <tr>
          <th><a href="<%= dish_path(dish.id) %>"> <%= dish.name %></a></th>
          <th><%= dish.price %></th>
          <th><%= dish.description %></th>
        </tr>
        <br>
        <% end %>
      <% end %>
    </table>
  </div>

  <div>
  <h2>Dessert</h2>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
      <% @dishes.each do |dish| %>
        <% if dish.category == "Dessert" %>
        <tr>
          <th><a href="<%= dish_path(dish.id) %>"> <%= dish.name %></a></th>
          <th><%= dish.price %></th>
          <th><%= dish.description %></th>
        </tr>
        <br>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
